
/* Colour palette */
:root {
  --NavyBlue: #001C55;
  --SkyBlue: #6BC1FF;
  --DarkGray: #333333;
  --LightGray: #F7F7F7;
  --White: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.money { 
  border-radius: 950px;
  height: 150px;
}

.maincontainer {
  display: flex;
  justify-content: center;
}

.financial, .crypto {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 4%;
  text-align: center;
}

.financial {
  margin-left: 50px;
}

.crypto {
  margin-right: 50px;
}

.coinbox {
  
  margin-top: 10px;
  width: 20%;
  display: flex;
  align-items: end;
  min-height: 350px;
  
}

/* Ticker effect */



.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  color: var(--NavyBlue)
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.welcomebanner {
  text-align: center;
  
}


.footer {
  margin-top: 20vh;
  text-align: center;
  color: var(--NavyBlue)
}



/* Hover/grow effect on GitHub logo */
.githublogo {
  transition:.5s;
}

.githublogo:hover {
  transform:scale(1.3);
}

/* About section */
.about-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.container {
 display: grid;
 justify-items: center;
 align-items: center;
}

.container p {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.team {
  height: 150px;
  border-radius: 50px;
  margin: 10px;
}



a {
  color: var(--DarkGray);
  text-decoration: none;
}



/* Button styles */

a.css3dbutton {
    background: #6BC1FF; /* background color of button */
    color: white;
    text-decoration: none;
    font: bold 28px Arial; /* font size and style */
    position: relative;
		top: 0; /* anchor main button's position */
    bottom: -12px; /* Depth of 3D effect. :after pseudo element inherits this value so it's animated in Chrome. See: kizu.ru/en/pseudos */
		margin-bottom: 12px;
    -moz-box-shadow: 0 -15px 5px rgb(107, 107, 209) inset;
    -webkit-box-shadow: 0 -15px 5px var(--NavyBlue) inset;
    box-shadow: 0 -15px 5px #59a9e1 inset;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.css3dbutton, a.css3dbutton:after {
    display: inline-block;
    padding: 10px 15px; /* vertical and horizontal padding of button */
    -moz-border-radius: 8px/15px;
    -webkit-border-radius: 8px/15px;
    border-radius: 8px/15px;
    outline: none;
}

a.css3dbutton:after { /* pseudo element to construct 3D side of button */
    content: "";
    position: absolute;
    padding: 0;
    z-index: -1;
    bottom: inherit; /* Inherit main button bottom value to animate it. See: kizu.ru/en/pseudos */
    left: 0;
    width: 100%;
    height: 100%;
    background: #a8b3c9; /* background color of 3D effect */
    -moz-box-shadow: 1px 0 3px gray;
    -webkit-box-shadow: 1px 0 3px gray;
    box-shadow: 1px 0 3px gray;
}

a.css3dbutton:hover {
    -moz-box-shadow: 0 25px 5px rgba(203, 217, 223, 0.7) inset;
    -webkit-box-shadow: 0 25px 5px rgba(203, 217, 223, 0.7) inset;
    box-shadow: 0 25px 5px rgba(203, 217, 223, 0.7) inset;
    background: #6BC1FF; /* background color when mouse rolls over button */
}

a.css3dbutton:active {
    top: 12px; /* shift button down 12px when depressed. Change 12px to match button's "bottom" property above */
    bottom: 0;
    -moz-box-shadow: 0 -20px 5px var(--NavyBlue) inset, 1px 1px 2px #eee;
    -webkit-box-shadow: 0 -20px 5px var(--NavyBlue) inset, 1px 1px 2px #eee;
    box-shadow: 0 -20px 5px var(--NavyBlue) inset, 1px 1px 2px #eee;
}




/* Make it move */
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Coin styles */

.jump {
  animation: jump 1.5s infinite ease;
}
@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}
.coin {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
}
.coin .front,
.coin .back {
  position: absolute;
  height: 150px;
  width: 150px;
  background: #FFBD0B;
  border-radius: 50%;
  border-top: 7px solid #FFD84C;
  border-left: 7px solid #FFD84C;
  border-right: 7px solid #D57E08;
  border-bottom: 7px solid #D57E08;
  transform: rotate(44deg);
}
.coin .front:before,
.coin .back:before {
  content: "";
  margin: 35.5px 35.5px;
  position: absolute;
  width: 70px;
  height: 70px;
  background: #F0A608;
  border-radius: 50%;
  border-bottom: 5px solid #FFD84C;
  border-right: 5px solid #FFD84C;
  border-left: 5px solid #D57E08;
  border-top: 5px solid #D57E08;
  z-index: 2;
}
.coin .front .currency,
.coin .back .currency {
  overflow: hidden;
  position: absolute;
  color: #FFBD0B;
  font-size: 40px;
  transform: rotate(-44deg);
  line-height: 3.7;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 3px 0 #CB7407;
  z-index: 3;
  border-radius: 50%;
}
.coin .front .currency:after,
.coin .back .currency:after {
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  margin: 20px -65px;
  box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22),
    85px -10px 0 -16px rgba(255, 255, 255, 0.19);
  transform: rotate(-50deg);
  animation: shine 1.5s infinite ease;
}

@keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 70px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}
.coin .front .shapes,
.coin .back .shapes {
  transform: rotate(-44deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.coin .front .shapes div,
.coin .back .shapes div {
  width: 20px;
  height: 4px;
  background: #D57E08;
  border-top: 2px solid #C47207;
  margin: 75px 7px;
}
.coin .front .shapes div:before,
.coin .back .shapes div:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #D57E08;
  border-top: 2px solid #C47207;
  margin: -10px 0;
}
.coin .front .shapes div:after,
.coin .back .shapes div:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #D57E08;
  border-top: 2px solid #C47207;
  margin: 8px 0;
}
.coin .front .shape_l,
.coin .back .shape_l {
  float: left;
}
.coin .front .shape_r,
.coin .back .shape_r {
  float: right;
}
.coin .front .top,
.coin .back .top {
  font-size: 30px;
  color: #D67F08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}
.coin .front .bottom,
.coin .back .bottom {
  font-size: 30px;
  color: #D67F08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.coin .shadow {
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  bottom: -50px;
  border-radius: 50%;
  z-index: -1;
  margin: 185px 7px 0 7px;
  animation: swift 1.5s infinite ease;
  
}
@keyframes swift {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.8;
  }
}

