
/* Colour palette */
:root {
  --NavyBlue: #001C55;
  --SkyBlue: #6BC1FF;
  --DarkGray: #333333;
  --LightGray: #F7F7F7;
  --White: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.money { 
  border-radius: 950px;
  height: 150px;
}

.maincontainer {
  display: flex;
  justify-content: center;
}

.financial, .crypto {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.welcomebanner {
  text-align: center;
  
}

.footer {
  margin-top: 5vh;
  text-align: center;
}


/* Hover/grow effect on GitHub logo */
.githublogo {
  transition:.5s;
}

.githublogo:hover {
  transform:scale(1.3);
}

/* About section */
.about-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.container {
 display: grid;
 justify-items: center;
 align-items: center;
}

.container p {
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

img {
  height: 150px;
  border-radius: 50px;
  margin: 10px;
}



a {
  color: var(--DarkGray);
  text-decoration: none;
}